/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #2c3e50;
}

input {
    padding: 8px;
    margin: 10px;
}

button {
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

form {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

input,
textarea,
button {
    width: 70%;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    box-sizing: border-box;
}

input,
textarea {
    border: 1px solid #ccc;
}

textarea {
    resize: none;
    font-family: Arial, sans-serif;
}

button {
    width: 70%;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #2980b9;
}